* {
    margin: 0;
    padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.gamehouse {
    position: relative;
  width: 100%;
  max-width: 1600px; /* or image width */
  margin: auto;
  height: 100vh; /* 👈 important */
/*   overflow: hidden; /* prevent scroll from inside */ */
}

#doorImage {
  width: 100%;
  height: 100%;
  display: block;
/*   object-fit: contain; */
}


.click-area {
  position: absolute;
  cursor: pointer;
/*   background-color: rgba(255, 0, 0, 0.3); 
  border: 1px solid #000; */

}
.clickarea {
  position: absolute;
  cursor: pointer;
  /* background-color: rgba(255, 0, 0, 0.3);  
   border: 1px solid #000; */

}
#door {
     top: 62px;
    left: 132px;
    width: 462px;
    height: 563px;
}

#bookself{
     top: 95px;
    left: 1143px;
    width: 422px;
    height: 480px;
}
#safe {
       top: 346px;
    left: 366px;
    width: 69px;
    height: 78px;
    border-radius: 7px;
}
#saffe{
        top: 504px;
    left: 1319px;
    width: 84px;
    height: 80px;
    border-radius: 7px;
}
#locker {
    top: 344px;
    left: 990px;
    width: 204px;
    height: 120px;
    border-radius: 7px;
}
#laptop {
    top: 334px;
    left: 675px;
    width: 201px;
    height: 100px;
    border-radius: 26px;
}
#dror {
  top: 492px;
  left: 589px;
    width: 219px;
    height: 185px;
    border-radius: 7px;
}
#key{
    top: 429px;
    left: 904px;
    width: 137px;
    height: 52px;
    border-radius: 147px;
}
#pot {
    top: 488px;
    left: 1129px;
    width: 125px;
    height: 99px;
    border-radius: 25px
}

#painting {
        top: 96px;
    left: 680px;
    width: 345px;
    height: 161px;
}

#clue {
       top: 571px;
    left: 1289px;
    width: 84px;
    height: 80px;
    border-radius: 7px;
    }
    
    
#timer {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-family: monospace;
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 1000;
}
